.app {
  width: 400px;
  margin: auto;
  margin-top: 40px;
  font-family: Arial;
}

.tab-list {
  display: flex;
  gap: 10px;
}

.tab {
  padding: 8px 12px;
  border: 1px solid gray;
  background: white;
  cursor: pointer;
}

.active {
  background: black;
  color: white;
}

.tab-content {
  margin-top: 20px;
  border: 1px solid #ddd;
  padding: 10px;
}
